<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Pranav Sharma.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/pranav-sharma-479932200/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/pranav20395" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:pranav3926@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
