<div class="row align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/bc.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                Pranav Sharma
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">Data Scientist</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/pranav-sharma-479932200/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/pranav20395" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:pranav3926@gmail.com">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="https://www.instagram.com/_pranav.__.sharma_/" target="_blank">
                        <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                I'm always excited to collaborate on new projects and leverage data driven insights for innovative solutions. If you're looking for a dedicated data scientist to help transform your data into actionable strategies. <span class="default-highlight">
                let us collaborate.</span>
            </p>
            <button>
                <a href="https://www.linkedin.com/in/pranav-sharma-479932200/" target="_blank">
                > DM me on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
