<div class="accordion-left">

  <accordion [isAnimated]="true" style="width: 110%;">

    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Advanced <strong><span class="default-highlight">English</span></strong></p>
      <p>Native <strong><span class="default-highlight">Hindi</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2020 - 2024  IIIT Delhi  - <strong><span class="default-highlight">Computer Science and Design</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | Few Shot Face Recognition
        </li>
      </ul>
      <p>2020 - Bharat Mata Senior Secondary School (Delhi) - <strong><span class="default-highlight">Physics, Maths & Chemistry</span></strong> - 12th Standard</p>
      <ul>
        <li>
          CBSE | 93.4% - PCM
        </li>
      </ul>
      <p>2018 - O.P. Jindal Modern School (Hisar,HR) - <strong><span class="default-highlight">Maths & Science</span></strong> - 10th Standard</p>
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Technical."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Micron Technologies - <strong><span class="default-highlight">Associate Data Science Engineer</span></strong> July/2024 - Currently</p>
      <ul>
        <li>
          Working as a Data Science Engineer in Smart Manufacturing & AI department, optimising and analysing data. Using angular, Snowflake, Fast API's for building Data analytical dashboards & other ML/AL solutions for optimising workflow.
        </li>
      </ul>
      <p>Natwest Group - <strong><span class="default-highlight">SWE Intern</span></strong> - May/2023 - July/2023</p>
      <ul>
        <li>
          Certification issued by Natwest Group Training and Certification upon successful completion of 2 month Internship.
        </li>
      </ul>

      <p>Undergraduate Researcher - <strong><span class="default-highlight">KRaCR Lab - IIIT Delhi</span></strong> - Jan/2023 - Dec/2023</p>
      <ul>
        <li>
          This research endeavors to establish a comprehensive framework for assessing the quality of knowledge graphs, introducing novel matrices and metrics tailored to capture the intricacies of knowledge representation.
        </li>
      </ul>
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-java-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              
            <i class="devicon-cplusplus-plain"></i>
          
          </div>
          <div class="tech-cell">
              
            <i class="devicon-nodejs-plain-wordmark"></i>
          
          </div>
          <div class="tech-cell">
              
            <i class="devicon-fastapi-plain-wordmark"></i>
          
          </div>
          <div class="tech-cell">
            <i class="devicon-microsoftsqlserver-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="fas fa-snowflake"></i>
          </div>
          <div class="tech-cell">
              
            <i class="devicon-googlecloud-plain"></i>
          
          
          </div>
          <div class="tech-cell">
              
            
            <i class="devicon-vercel-original-wordmark"></i>
          
          
          
          </div>
          <div class="tech-cell">
              
           
            <i class="devicon-arduino-plain-wordmark"></i>
          
          
          
          </div>


          <div class="tech-cell">
            <i class="devicon-tensorflow-original"></i>

          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
              
            <i class="devicon-csharp-plain"></i>
          
          </div>
          <div class="tech-cell">
              <i class="devicon-selenium-original"></i>
          </div>
          <div class="tech-cell">
              
            <i class="devicon-firebase-plain-wordmark"></i>
          
          </div>
          <div class="tech-cell">
              <i class="devicon-plotly-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-intellij-plain"></i>
          </div>
          <div class="tech-cell">
              
            <i class="devicon-pytorch-original"></i>
          
          </div>
          <div class="tech-cell">
              
            <i class="devicon-kaggle-original-wordmark"></i>
          
          </div>
          <div class="tech-cell">
              
            <i class="devicon-react-original-wordmark"></i>
          
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain"></i>
          </div>
          <div class="tech-cell">
              
            <i class="devicon-redis-plain-wordmark"></i>
          
          </div>
          <div class="tech-cell">
              <i class="devicon-npm-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-docker-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jira-plain-wordmark"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>