<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Data Science Engineer</h1>
        <h2 class="home-author">Pranav Sharma, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
          "I am a Data Science Engineer and AI/ML enthusiast, I thrive on turning complex data into smart, actionable insights. With a passion for leveraging advanced algorithms, I build data-driven solutions that push the boundaries of innovation and help shape a smarter, more efficient future."
        </blockquote>
        <div>
          <button style="margin-right: 10px;">
            <a routerLink="/portfolio">
              > Check Portfolio
            </a>
          </button>
          <button>
            <a routerLink="/contact">
              > Contact Me!
            </a>
          </button>
        </div>
        

      </div>
    </div>
  </div>
  